<div class="container">
  <h1>The Longest Word Game</h1>
  <p>Choose from the following letters:</p>
  <div class="wrapper">
    <% @letters.each do |letter| %>
      <div class="item"><p><%= letter %></p></div>
    <% end %>
  </div>
  <div class="user-word">
    <form id="form" action="<%= score_path %>" method="post" data-turbo="false">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <% @letters = @letters.join %>
      <%= hidden_field_tag :grid_letters, @letters %>
      <label class="form-item" for="input_word">What is the longest word you can find?</label><br>
      <div class="inline-form form-item">
        <input class="form-input" type="text" id="input_word" name="input_word"><br>
        <input id="word-submit" class="btn btn-primary" type="submit" value="Play">
      </div>
    </form>
  </div>
  <%= link_to 'New game and reset', new_path(:reset => true), class: "new-game" %>
</div>
